$navbar-shadow: 2px 4px 8px 0px hsla(0, 0%, 0%, 0.4);
$white: #ffffff;
$grayscale: #8f8f8f;
$grayscale-100: #606060;
$grayscale-200: #bfbfbf;
$primaryMuted: #fcd5ba;
$bgpage: rgb(251, 248, 236);
$secondary: #70c05b;
$black-100: #414141;
$black-200: #232323;
$grayscale-300: rgb(243, 242, 241);
$opacity: 0.5;
$main-primary: rgb(255, 102, 51);
